@import url("reset.css");

@font-face {
    font-family: FuturaLT;
    src: url('../fonts/Futura (Light).ttf');
}

@font-face {
    font-family: FuturaBK;
    src: url('../fonts/futena_book.ttf');
}

@font-face {
    font-family: SOSA;
    src: url('../fonts/sosa.ttf');
}

body {
    font-family: FuturaBK;
    background-image: url(../images/background.gif);
}

body.box {
    background: none;
    padding: 15px;
}

#container {
    width: 96%;
    margin: 0 auto;
}

#head {
    width: 100%;
    border-top: solid 1px #000;
    position: relative;
    height: 210px;
    margin: 20px auto 0px auto;
    padding: 20px 0px 20px 0px;
}

#head .logo {
    background-image: url(../images/ozzie_logo.png);
    background-repeat: no-repeat;
    height: 34px;
    width: 229px;
    text-indent: -9999px;
    display: block;
    position: absolute;
    left: 0px;
    top: 20px;
}
#head .toggle{
    position:absolute;
    left:5px;
    top:10px;
}

#head h1 .logo:hover {
    background-image: url(../images/ozzie_logo_color.png);
    background-repeat: no-repeat;
    height: 34px;
    width: 229px;
    text-indent: -9999px;
    display: block;
}

#head .menu {
    display: block;
    height: 200px;
    position: absolute;
    left: 337px;
    top: 20px;
}

#head .menu > ul {
    display:inline-block;
    *display: inline;
    zoom:1;
    font-weight: bold;    
    vertical-align: top;
    margin-right: 55px;
}


#head .menu ul li a{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    line-height: 36px;
    display: block;
    height: 36px;
}



#head .menu .sub a {
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    font-weight: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, "Century Gothic";
}

#head .menu .sub a:hover{
    color: #FF47AF;
}



#head .logos {
    position: absolute;
    top: 20px;
    width: 80px;
    right: 0px;
}

#head .logos ul li a {
    text-indent: -9999px;
    display: block;
    height: 36px;
    width: 78px;
}

#container #head .logos ul .logo1 a {
    background-image: url(../images/logo/logos_01.png);
}

#container #head .logos ul .logo2 a {
    background-image: url(../images/logo/logos_02.png);
}

#container #head .logos ul .logo3 a {
    background-image: url(../images/logo/logos_03.png);
}

#container #head .logos ul .logo4 a {
    background-image: url(../images/logo/logos_04.png);
}

#container #head .logos ul .logo5 a {
    background-image: url(../images/logo/logos_05.png);
}

#container #head .logos ul .logo1 a:hover {
    background-image: url(../images/logo/logos_over_01.png);
}

#container #head .logos ul .logo2 a:hover {
    background-image: url(../images/logo/logos_over_02.png);
}

#container #head .logos ul .logo3 a:hover {
    background-image: url(../images/logo/logos_over_03.png);
}

#container #head .logos ul .logo4 a:hover {
    background-image: url(../images/logo/logos_over_04.png);
}

#container #head .logos ul .logo5 a:hover {
    background-image: url(../images/logo/logos_over_05.png);
}










#info {
    width: 100%;
    border-bottom: solid 1px #000;
    position: relative;
    height: 130px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 20px 0px 20px 0px;
}

#info h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    height: 22px;
}

#info h2 img {
    padding-left: 50px;
}

#info ul {
    padding-top: 15px;
}

#info ul li {
    line-height: 22px;
    font-size: 13px;
}


/*首頁圖開始*/

#main {
    width: 100%;
    margin: 20px auto;
    display: block;
}

#main > h1{
    font-size: 26px;
    margin-bottom: 20px;
}
/*首頁結束*/
.footer {
    width: 100%;
    padding: 20px 0px 20px 0px;
    border-top: solid 1px #000;
    margin: auto;
    background-image: url(../images/footerLogo.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.footer p {
    font-size: 13px;
    font-family: FuturaBK;
}

.work {
    margin: auto;
    display: block;
}

.work .photo {
    font-size: 1em;
    width: 100%;
    margin-bottom: 10px;
}

.work .photo img{
    width: 100%;
}

.work .number, .work .location {
    float: left;
    margin-right: 20px;
    line-height: 28px;
}

.work .title {
    float: left;
    margin-right: 50px;
    line-height: 28px;
}

.work .year {
    font-size: 14px;
    float: left;
    line-height: 28px;
}

.work .control {
    float: right;
    width: 70px;
}

.work .control .prev a, .work .control .next a {
    background-repeat: no-repeat;
    text-indent: -9999px;
    height: 28px;
    width: 28px;
    display: inline-block;
}

.work .control .prev a {
    background-image: url(../images/logo/arrow_pre.png);
    margin-right: 10px;
}

.work .control .next a {
    background-image: url(../images/logo/arrow_next.png);
}

.work .content{
    font-size: 14px;
    line-height: 24px;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
}

.about {
    width: 1280px;
    margin-right: auto;
    display: block;
}

.about .title {
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    height: 40px;
    float: left;
}

.about .language {
    margin-left: 450px;
}

.about .language a {
    font-size: 12px;
    text-decoration: none;
    display: block;
    border: 1px #000 solid;
    padding: 3px;
    width: 60px;
    float: left;
    height: 15px;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 15px;
    text-align: center;
}



.about .a_content {
    display: block;
    width: 580px;
    padding: 0px;
    float: left;
}

.about .a_content .text, .about .a_content .text_EN {
    display: inline-block;
    width: 250px;
    font-family: "微軟正黑體";
    line-height: 1.5em;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 15px;
    font-size: 14px;
    padding: 0px;
    vertical-align: top;
}




.about .a_content .text {
    display: inline-block;
    width: 250px;
    font-family: "微軟正黑體";
    line-height: 1.5em;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 15px;
    font-size: 14px;
    padding: 0px;
    vertical-align: top;
}

.about .a_content .text p {
    margin-bottom: 15px;
}

.about .img {
    background-image: url(../images/about_img.jpg);
    display: block;
    height: 218px;
    width: 670px;
    float: right;
    padding: 175px 15px 15px 15px;
    text-align: right;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    text-decoration: none;
}

.about .img h3 {
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;
}

.font-sosa {
    font-family: SOSA;
    font-size: 20px;
}

#contact {
    width: 100%;
    margin: auto;
}

#contact .title, #organization .title {
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    height: 40px;
}

#contact .text {
    font-family: FuturaBK, "微軟正黑體";
    line-height: 2em;
    margin: 0px;
    font-size: 13px;
    vertical-align: top;
}

#contact .text .info_a {
    display: inline-block;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 10px;
}

#contact .text .info_a a {
    color: #000;
    text-decoration: underline;
}

#contact .text .info_a .fb {
}


#map {
    height: 550px;
    width: 100%;
    margin: auto;
}

#organization {
    display: block;
    width: 100%;
}

#organization .group {
    display: inline-block;
    width: 300px;
    margin-right: 15px;
    vertical-align: top;
}

#organization .group .g_1 a, #organization .group .g_2 a, #organization .group .g_3 a, #organization .group .g_4 a, #organization .group .g_5 a {
    display: block;
    width: 300px;
    height: 406px;
    background-repeat: no-repeat;
    text-decoration: none;
    text-indent: -9999px;
    margin-bottom: 20px;
}

.group .g_1 a {
    background-image: url(../images/organization_co_01.gif);
}

.group .g_2 a {
    background-image: url(../images/organization_co_02.gif);
}

.group .g_3 a {
    background-image: url(../images/organization_co_03.gif);
}

.group .g_4 a {
    background-image: url(../images/organization_co_04.gif);
}

.group .g_5 a {
    background-image: url(../images/organization_co_05.gif);
}

.group .g_1 a:hover {
    background-image: url(../images/organization_co_01_over.gif);
}

.group .g_2 a:hover {
    background-image: url(../images/organization_co_02_over.gif);
}

.group .g_3 a:hover {
    background-image: url(../images/organization_co_03_over.gif);
}

.group .g_4 a:hover {
    background-image: url(../images/organization_co_04_over.gif);
}

.group .g_5 a:hover {
    background-image: url(../images/organization_co_05_over.gif);
}

#organization .group h3 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

#organization .group p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}


.wall {
    width: 100%;
    margin: auto;
    margin-bottom:20px;
}

.wall .brick {
    background-color: #ececec;
    display: block;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    text-decoration:none;
}





.wall .brick img {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

.wall .brick:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}


.wall .brick > .content {
    padding: 30px;
}

.wall .brick > .content h1 {
    font-size: 26px;
    margin-bottom: 30px;
    color:#000;
}

.wall .brick > .content p {
    font-size: 20px;
    color: #333;
}

.wall .brick > .content .lct {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color:#000;
}

.wall .brick > .content .year {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color:#000;
}

.wall .size11 {
    width: 315px;
    height: 210px;
}

.wall .size12 {
    width: 315px;
    height: 420px;
}

.wall .size13 {
    width: 315px;
    height: 630px;
}

.wall .size21 {
    width: 630px;
    height: 210px;
}

.wall .size22 {
    width: 630px;
    height: 420px;
}

.wall .size23 {
    width: 630px;
    height: 630px;
}

.wall .size31 {
    width: 945px;
    height: 210px;
}

.wall .size32 {
    width: 945px;
    height: 420px;
}

.wall .size33 {
    width: 945px;
    height: 630px;
}


.fancybox-skin {
    padding: 0 !important;
}

.fancybox-overlay{
    background:none;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}



@media screen and ( max-width:680px) {
    #info{
        display:none;
    }
    
    #head {
        height: auto;
    }
    
    #head .logos{
        display: none;
    }

    #head .logo{
        
    }
    #head > h1{
        margin-top: 10px;
    }
    #head .toggle{
        position:absolute;
        left:auto;
        right:10px;
        top:20px;
        width: 30px;
        height:30px;
        font-size: 30px;
    }
    
    #head .menu {
        display: block;
        height:auto;
        position:absolute;
        left:0;
        top:60px;
        z-index: 9999;
        background-color: #FFF;
        width: 100%;
        display: none;
    }

    #head .menu > ul {
        display: block;        
        margin: auto;
    }

    
    #head .menu ul li a{        
        height:auto;
        padding: 5px;
        border-bottom: solid 1px #000;
        font-size: 20px;
    }



    


}